# Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*

*.DS_Store
# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock*
*.tflint.hcl
**/.vscode/*
terraform/gogs-app/modules/gogs/helm/values-v1.yaml
terraform/gogs-app/modules/gogs/values-v1.yaml
